body {
    background-color: #313338;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

h1 {
    color: #f2f3f5;
    text-align: center;
    font-family: 'gg sans', 'Segoe UI', sans-serif;
    font-size: 24px;
    margin-bottom: 5px;
}

.formulario {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    max-width: 320px;
}


input, textarea {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 4px;
    border: 1px solid #1e1f22;
    background-color: #1e1f22;
    color: #dbdee1;
}

input::placeholder, textarea::placeholder {
    color: #949ba4;
}


button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    background-color: #5865f2;
    color: white;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
}


button:hover {
    background-color: #4752c4;
}
